@import "tailwindcss";

@theme {
  --color-bg-black: #101919;
  --color-xp-bg: #111B24;
  --color-xp-icon: #223C4B;
  --color-xp-border: #466274;
  --color-reroll-bg: #1E2119;
  --color-reroll-icon: #45402D;
  --color-reroll-border: #5A543F;
  --color-border-gold: #90784B;
  --color-gold-bg: #172020;
  --color-text-white: #E0DDD3;
  --color-one-cost: #97978E;
  --color-two-cost: #48B75A;
  --color-three-cost: #44C4FD;
  --color-four-cost: #C825F0;
  --color-five-cost: #FD9A29;
  --color-one-cost-card-dark: #152432;
  --color-one-cost-card-light: #26323B;
  --color-two-cost-card-dark: #14362E;
  --color-two-cost-card-light: #22603C;
  --color-three-cost-card-dark: #1C2048;
  --color-three-cost-card-light: #115D84;
  --color-four-cost-card-dark: #4A0E49;
  --color-four-cost-card-light: #930B6E;
  --color-five-cost-card-dark: #895115;
  --color-five-cost-card-light: #D4873A;
  --color-trait-icon-bg: #35383B;
  --color-trait-icon-shadow: #0E1826;
  --color-card-border: #0B1C1E;
  --color-seat-bg: #777777;
  --color-empty-card-wrapper: #050807;
  --color-empty-card-border: #162221;
  --color-empty-card-bg: #071010;
  --color-two-star-light: #DAE0E6;
  --color-two-star-shine: #FBFBFA;
  --color-two-star-dark: #7B5F86;
  --color-three-star-light: #F7FC33;
  --color-three-star-shine: #FFFF3C;
  --color-three-star-dark: #C1B771;
  --color-three-star-border: #FDFF00;
  --color-empty-space: #112C4E;
  --color-trait-bg: #111111;
  --color-trait-border: #464646;

  --animate-flash: flash 2s linear infinite;
  --animate-to-right: right 3s linear infinite;
  --animate-to-bottom: bottom 3s linear infinite 0.85s;
  --animate-to-left: left 3s linear infinite 1.5s;
  --animate-to-top: top 3s linear infinite 2.35s;
  --animate-level-up: levelUp 0.5s ease-out;

  @keyframes flash {
    0% {
      opacity: 0%;
    }

    35% {
      opacity: 90%;
    }

    50% {
      opacity: 100%;
    }

    65% {
      opacity: 90%;
    }

    100% {
      opacity: 0%;
    }
  }


  @keyframes right {
    0% {
      transform: translate(0)
    }

    57.5% {
      transform: translate(200%, 0)
    }

    100% {
      transform: translate(200%, 0)
    }
  }


  @keyframes bottom {
    0% {
      transform: translate(0)
    }

    42% {
      transform: translate(0, 200%)
    }

    100% {
      transform: translate(0, 200%)
    }
  }


  @keyframes left {
    0% {
      transform: translate(0)
    }

    57.5% {
      transform: translate(-200%, 0)
    }

    100% {
      transform: translate(-200%, 0)
    }
  }


  @keyframes top {
    0% {
      transform: translate(0)
    }

    42% {
      transform: translate(0, -200%)
    }

    100% {
      transform: translate(0, -200%)
    }
  }

  @keyframes levelUp {
    from {
      opacity: 100%;
      transform: scale(1.25, 1.25)
    }

    to {
      opacity: 0%;
      transform: scale(1, 1)
    }
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: -1px 0 5px #000, 0 1px 5px #000, 1px 0 5px #000, 0 -1px 5px #000;
  }

  .drop-shadow-black {
    filter: drop-shadow(1px 1px 2px #000);
  }

  .animate-circle {
    transform-origin: center;
    animation: circle 4.5s linear infinite
  }

  .animate-circle-two {
    transform-origin: center;
    animation: circle-two 4.5s linear infinite
  }

  @keyframes circle {
    from {
      transform: rotate(-45deg)
    }

    to {
      transform: rotate(315deg)
    }
  }

  @keyframes circle-two {
    from {
      transform: rotate(-225deg)
    }

    to {
      transform: rotate(135deg)
    }
  }
}


#root {
  margin: 0 auto;
  text-align: center;
}